{% extends 'barra_lateral.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Administrador</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">


</head>
<style>
    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1; /* Agregamos esto para asegurarnos de que el icono esté por encima del input */
    }
    
    
</style>

<body>
    <form method="post" action="{% url 'registrosadmin' %}" class="needs-validation">
        {% csrf_token %}
        <div class="container mt-5">
            <h2 class="titulo_registro">Registro de Administrador</h2>
            <div class="header-container">
                <h2 class="section-header">Datos Personales</h2>
                <div class="section-container">
                    <div class="section-left">
                        <label for="nombre_completo" class="form-label">Nombre Completo:</label>
                        <input type="text" id="nombre_completo" name="nombre_completo" class="form-control" required>
                    </div>
                    <div class="section-right">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" required>
                    </div>
                    <div class="section-left">
                        <label for="genero" class="form-label">Género:</label>
                        <select id="genero" name="genero" class="form-select" required>
                            <option value="" disabled selected>Seleccione aquí</option>
                            {% for genero in generos %}
                            <option value="{{ genero.id }}">{{ genero.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="section-right">
                        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
                    </div>
                    <div class="section-left">
                        <label for="tipo_documento" class="form-label">Tipo de Documento:</label>
                        <select id="tipo_documento" name="tipo_documento" class="form-select" required>
                            <option value="" disabled selected>Seleccione aquí</option>
                            {% for documento in documentos %}
                            <option value="{{ documento.id }}">{{ documento.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="section-right">
                        <label for="fecha_expedicion" class="form-label">Fecha de Expedición:</label>
                        <input type="date" id="fecha_expedicion" name="fecha_expedicion" class="form-control" required>
                    </div>
                    <div class="section-left">
                        <label for="ciudad_expedicion" class="form-label">Ciudad de Expedición:</label>
                        <select id="ciudad_expedicion" name="ciudad_expedicion" class="form-select" required>
                            <option value="" disabled selected>Seleccione aquí</option>
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="section-right">
                        <label for="numero_documento" class="form-label">Número de Documento:</label>
                        <input type="text" id="numero_documento" name="numero_documento" class="form-control" required>
                    </div>
                    <div class="section-left">
                        <label for="discapacidad" class="form-label">Discapacidad:</label>
                        <select id="discapacidad" name="discapacidad" class="form-select" required>
                            <option value="" disabled selected>Seleccione aquí</option>
                            {% for discapacidad in discapacidades %}
                            <option value="{{ discapacidad.id }}">{{ discapacidad.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="section-right">
                        <label for="email_personal" class="form-label">Email Personal:</label>
                        <input type="email" id="email_personal" name="email_personal" class="form-control" required>
                    </div>
                    <div class="section-left">
                        <label for="celular_1" class="form-label">Celular 1:</label>
                        <input type="text" id="celular_1" name="celular_1" class="form-control" required>
                    </div>
                    <div class="section-right">
                        <label for="celular_2" class="form-label">Celular 2:</label>
                        <input type="text" id="celular_2" name="celular_2" class="form-control">
                    </div>
                </div>
                <h2 class="section-header">Seleccione El Grupo</h2>
                <div class="section-container">
                    <!--
                    <div class="section-left">
                        <label for="email_compumaster" class="form-label">Email Compumaster:</label>
                        <input type="email" id="email_compumaster" name="email_compumaster" class="form-control" required>
                    </div>
                -->
                    <div class="section-left">
                        <label for="grupo" class="form-label">Grupo:</label>
                        <select id="grupo" name="grupo" class="form-select" required>
                            <option value="" disabled selected>Seleccione aquí</option>
                            <option value="nuevo">Crear Nuevo Grupo</option>
                            {% for grupo in grupos %}
                            <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="nuevo_grupo_container" style="display: none;">
                        <div class="section-right">
                            <label for="nuevo_grupo" class="form-label">Nombre del Nuevo Grupo:</label>
                            <input type="text" id="nuevo_grupo" name="nuevo_grupo" class="form-control">
                        </div>
                    </div>
                    <!--
                    <div class="section-left">
                        <label for="contrasena_compumaster" class="form-label">Contraseña Compumaster:</label>
                        <input type="password" id="contrasena_compumaster" name="contrasena_compumaster" class="form-control" required>
                    </div>
                    <div class="section-right">
                        <label for="confirmar_contrasena" class="form-label">Confirmar Contraseña:</label>
                        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="form-control" required>
                    </div>
                    -->
                </div>
                    <!-- Formulario adicional -->
                    
                <div class="form-control" >
                    <h2 class="titulo_registro">Registro de Admin</h2>
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                        <small class="form-text text-muted">Requerido. Máximo 150 caracteres. Únicamente letras, dígitos y @/./+/-/_</small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group" style="display: none;>
                        <label for="{{ form.rol.id_for_label }}" class="form-label">Rol:</label>
                        {{ form.rol }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
                        <div style="position: relative;">
                            <input type="password" id="password1" name="password1" class="form-control" required>
                            <span class="toggle-password" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M19 12s-3 4-7 4-7-4-7-4 3-4 7-4 7 4 7 4z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                
                    <li><small class="form-text text-muted">Su contraseña debe contener al menos 8 caracteres.</small></li>
                    <li><small class="form-text text-muted">Su contraseña no puede ser una clave utilizada comúnmente.</small></li>
                    <li><small class="form-text text-muted">Su contraseña no puede ser completamente numérica.</small></li>
                
                    
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Contraseña (confirmación):</label>
                        <div style="position: relative;">
                            <input type="password" id="password2" name="password2" class="form-control" required>
                            <span class="toggle-password2" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                    <path d="M19 12s-3 4-7 4-7-4-7-4 3-4 7-4 7 4 7 4z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </span>
                        </div>
                        
                    </div>
                    {{ form.errors }}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
                <br>
            </div>
        </div>
    </form>
    <script>
        document.getElementById("grupo").addEventListener("change", function() {
            var nuevoGrupoContainer = document.getElementById("nuevo_grupo_container");
            if (this.value == "nuevo") {
                nuevoGrupoContainer.style.display = "block";
            } else {
                nuevoGrupoContainer.style.display = "none";
            }
        });
        document.querySelector('.toggle-password').addEventListener('click', function() {
            const passwordInput = document.getElementById('password1');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('show-password');
        });
        document.querySelector('.toggle-password2').addEventListener('click', function() {
            const passwordInput = document.getElementById('password2');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('show-password');
        });
    </script>
    </br>
    </br>
</body>

</html>
{% endblock %}






